$_spacing: 40px;

.program-partners {
    margin-bottom: $_spacing;

    .carousel-indicators {
        bottom: -1 * $_spacing;
    }

    .item.left,
    .item.right,
    .item.active {
        align-items: center;
        display: flex;
    }
}

.partner-grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

@mixin column($viewsize, $columns) {
    @include respond-to($viewsize) {
        flex-basis: ($columns / 12) * 100%;
        max-width: ($columns / 12) * 100%;
    }
}

.partner {
    flex-basis: 100%;
    max-width: 100%;
    padding: 15px;

    @each $bp in map_keys($breakpoints) {
        @for $i from 1 through 12 {
            &.partner-#{$bp}-#{$i} {
                @include column($bp, $i);
            }
        }
    }

    @include siblingsCountAbsolute(odd, #{&}) {
        &:last-child {
            @include respond-to(md) {
                margin-left: 25%;
            }
        }
    }
}