$icons: chat, rocket, gears, chemistry, supergirl;

.program-overview {
    .blackboard {
        margin-bottom: $spacing-vertical;
    }

    .canvas {
        .actor {
            height: 140px;
            text-align: center;

            @include respond-to(sm) {
                height: auto;
            }

            p {
                font-weight: bold;
            }

            .po-icon {
                background-size: cover;
                content: '';
                margin: 0 auto;

                height: 100px;
                width: 100px;

                @include respond-to(sm) {
                    height: 130px;
                    width: 130px;
                }

                @each $class in $icons {
                    $_iconFile: to-upper-case(str-slice($class, 1, 1)) + str-slice($class, 2);

                    &.#{$class} {
                        background-image: url('../images/icons/#{$_iconFile}.png');

                        &:hover {
                            background-image: url('../images/icons/#{$_iconFile}-Active.png');
                        }
                    }
                }
            }
        }
    }
}
