.program-awards {
    .trophy-case {
        @include siblingsCountRelative(odd, ".award") {
            &:last-child {
                @include respond-to(md) {
                    margin-left: 25%;
                }
            }
        }

        .award {
            .image {
                display: table;
                height: 80px;
                margin-bottom: $spacing-vertical-small;
                text-align: center;
                width: 100%;

                a {
                    display: table-cell;
                    vertical-align: middle;
                }

                img {
                    max-height: 70%;
                    max-width: 80%;
                }
            }
        }
    }
}
