.staff-card {
    margin-bottom: $spacing-vertical-small;
    text-align: center;

    img {
        @include size(100px);

        margin-bottom: 5px;

        &.x-large {
            @include size(200px);
        }
    }

    p {
        margin-bottom: 0;

        &.name {
            font-weight: bold;
        }

        &.position {

        }
    }
}