---
layout: jumbotron-header
permalink: /
jumbotron:
  - title: Youth Tech Program
    slug: Summer 2016
    button:
      text: Apply
      url: #
    image: http://lorempixel.com/1280/850/technics
    position: top center
---

<main class="container">
    <class class="row">
        {% include partials/faq-renderer.html faq=site.data.faq.sections %}
    </class>

    <div class="row">
        {% for alum in site.alum_stories %}
            <div class="col-md-6">
                {{ alum.output }}
            </div>
        {% endfor %}
    </div>
</main>
