---
layout: jumbotron-header
permalink: /
jumbotron:
  text: >
    # Youth Tech Program

    #### Summer 2016
  button:
    text: Apply
    url: #
  items:
      - image: assets/images/banners/home_1.jpg
        position:
          - viewsize: 0
            location: top center
          - viewsize: 992px
            location: center -70px
          - viewsize: 1600px
            location: center -200px
      - image: assets/images/banners/home_2.jpg
        position:
          - viewsize: 0
            location: center
---

<main class="container">
    <class class="row">
        {% include modules/faq-renderer.html faq=site.data.faq.sections %}
    </class>

    <div class="row">
        {% for alum in site.alum_stories %}
            <div class="col-md-6">
                {{ alum.output }}
            </div>
        {% endfor %}
    </div>
</main>
