<footer class="site-footer">
    <div class="container">
        <div class="row">
            <section class="contact">
                <p>
                    <strong>For any questions or concerns, contact Gary Carter</strong>
                    <br>
                    <a href="tel:3104342612">(310) 434-2612</a>
                    or
                    <a href="mailto:gary.carter@smgov.net">gary.carter@smgov.net</a>
                </p>
            </section>
        </div>

        <div class="meta">
            <p class="join-us">Join Us On</p>
            <ul class="social list-inline">
                {% for sm in site.social %}
                    <li>
                        <a href="{{ sm.url }}" title="{{ sm.title }}">
                            <span class="icon {{ sm.icon }}"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <p class="copyright">City of Santa Monica &copy; 2016</p>
        </div>
    </div>
</footer>
