<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="city-logo hidden-xs">
                    <a href="http://www.smgov.net">
                        <img src="{{ '/assets/images/csm-logo-black.png' | prepend: site.baseurl }}"
                             alt="City of Santa Monica">
                    </a>
                </div>

                <div class="hidden-xs vertical-spacer"></div>

                <div class="ytp-logo">
                    <a href="{{ '/' | prepend: site.baseurl }}" class="shield"></a>
                    <p class="top">Santa Monica</p>
                    <p class="bottom">Youth Tech Program</p>
                </div>
            </div>
            <div class="col-sm-4 navigation">
                <ul class="list-inline">
                    <li><a href="{{ '/alumni' | prepend: site.baseurl }}">Alumni</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>