.blackboard {
    h2 {
        color: $ytp-secondary;
    }

    h3 {
        color: $ytp-primary;
        font-family: 'Slabo 27px', serif;
        font-size: 36px;
        margin: {
            bottom: 30px;
            top: 0;
        }
    }
}