.brag-card {
    .picture {
        float: left;
        padding-right: 15px;

        img {
            border-radius: 50%;
        }
    }

    .description {
        overflow: hidden;

        .name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0;
        }

        .year {
            font-size: 14px;
            font-style: italic;
        }
    }
}
