.brag-card {
    .picture {
        margin-bottom: 15px;
        text-align: center;

        @include respond-to(sm) {
            float: left;
            margin-bottom: 0;
            padding-right: 15px;
        }

        img {
            border-radius: 50%;
        }
    }

    .description {
        overflow: hidden;

        .name,
        .year {
            text-align: center;

            @include respond-to(sm) {
                text-align: left;
            }
        }

        .name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0;
        }

        .year {
            font-size: 14px;
            font-style: italic;
        }
    }
}
