.header-carousel {
    $header-height: 400px;

    height: $header-height;
    margin-bottom: 30px;
    position: relative;

    .navbar {
        position: relative;
        z-index: 10;
    }

    .carousel {
        height: $header-height;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;

        .carousel-inner {
            height: 100%;

            .item {
                background-size: cover;
                height: 100%;
            }
        }

        h1, h2, h3,
        h4, h5, h6,
        p, span {
            text-shadow: 0 1px 10px #000, 0 0 30px #000;
        }
    }
}
