.css-table {
    display: table;
    table-layout: fixed;

    .table-cell {
        display: inline-table;
        float: none;
        padding-bottom: $spacing-vertical-small;
        vertical-align: top;
    }
}
