.vertical-spacer {
    display: inline-block;
    border: 1px solid #bfbfbf;
    height: 65px;
    margin: 0 15px;
    width: 1px;
}

.ytp-logo,
.city-logo {
    display: inline-block;
    vertical-align: top;
}

.ytp-logo {
    position: relative;

    .shield {
        @include size(100%);

        position: absolute;
    }

    .top {
        font-size: 24px;
        font-weight: 100;
        margin-bottom: 0;

        @include respond-to(sm) {
            font-size: 28px;
        }
    }

    .bottom {
        color: #A1C435;
        font-size: 28px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 0;

        @include respond-to(sm) {
            font-size: 36px;
            line-height: 20px;
        }
    }
}

.site-header {
    padding: 15px 0;

    .city-logo img {
        width: 70px;
    }
}

.navigation {
    border-top: 1px solid #efefef;
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;

    @include respond-to(sm) {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
        text-align: right;
    }

    a {
        color: $ytp-secondary;
        line-height: 35px;

        @include respond-to(sm) {
            line-height: 70px;
        }
    }

    ul {
        margin-bottom: 0;
    }
}