.page-section {
    $height: 50px;

    padding: {
        bottom: $height;
        top: $height;
    }
    position: relative;

    &:first-child {
        padding-top: $height - 30;
    }
}

.page-section--alt {
    background-color: $ytp-light;
}

.section-header {
    font-size: 14px;
    margin: {
        bottom: 5px;
        top: 0;
    }
    text-transform: uppercase;
}

.section-spacer {
    margin-bottom: $spacing-vertical;
}
