.page-section {
    $height: 50px;

    padding: {
        bottom: $height;
        top: $height;
    }
    position: relative;

    &:nth-child(even) {
        background-color: $ytp-light;
    }
}

.section-header {
    margin-bottom: $spacing-vertical;

    h2, h3 {
        text-align: left;
    }

    h2 {
        color: $ytp-secondary;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    h3 {
        color: $ytp-primary;
        font-family: 'Slabo 27px', serif;
        font-size: 36px;
        margin: {
            bottom: 30px;
            top: 0;
        }
    }
}

.section-spacer {
    margin-bottom: $spacing-vertical;
}
