$ytp-primary: #247cb4;
$ytp-secondary: #e79e49;

$color-bg: #ffffff;
$color-alt-bg: #efefef;

$color-black: #000000;
$color-white: #ffffff;

$spacing-vertical: 30px;
$spacing-vertical-small: $spacing-vertical / 2;
