$ytp-primary: #46A5E6;
$ytp-secondary: #A1C435;
$ytp-dark: #182944;
$ytp-light: #ECECF3;
$ytp-alt: #FBF6CE;

$color-bg: #ffffff;
$color-alt-bg: #efefef;

$color-black: #000000;
$color-white: #ffffff;

$spacing-vertical: 30px;
$spacing-vertical-small: 15px;
