{% raw %}
    <script id="quote-card-template" type="text/x-handlebars-template">
        {{#each quotes}}
            <article class="brag-card clearfix quote table-cell sortable">
                <div class="picture">
                    <img src="{{image}}" alt="{{name}}'s picture" />
                </div>
                <div class="description">
                    <p class="name">{{name}}</p>
                    <p class="year">{{title}} of {{company}}, {{year}}</p>
                    <section class="bio">
                        {{{content}}}
                    </section>
                </div>
            </article>
        {{/each}}
    </script>
{% endraw %}
