{% for slide in site.data.partners %}
    <div class="item {% if forloop.first %}active{% endif %}">
        <div class="partner-grid">
            {% for partner in slide %}
                <div class="partner {{ partner.classes }} partner-md-6">
                    <a href="{{ partner.link }}" target="_blank">
                        <img class="img-responsive center-block" src="{{ '/assets/images/partners/' | prepend: site.baseurl }}{{ partner.name | replace: '.', '' | replace: ' ', '_' }}.png" alt="{{ partner.name }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}