{% for stat in site.data.stats %}
    <div class="item {% if forloop.first %}active{% endif %}">
        <div class="row">
            <div class="col-lg-6">
                <div id="{{ stat.name }}-chart" class="stat-chart {{ stat.name }}-chart"></div>
            </div>

            <div class="col-lg-6 blackboard">
                <h2 class="section-header">{{ stat.title }}</h2>
                <h3>{{ stat.slug }}</h3>

                {% if stat.content %}
                    <article>
                        {{ stat.content | markdownify }}
                    </article>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

<script>
    var LineOptions = {
        height: 200,
        width: 400,
        fullWidth: true,
        lineSmooth: false,
        chartPadding: {
            right: 40
        },
        axisY: {
            onlyInteger: true,
            offset: 10
        }
    };
    var LinePercentOptions = $.extend({}, LineOptions, {
        axisY: {
            labelInterpolationFnc: function(value) {
              return value + '%';
            }
        }
    });
    var PieOptions = {
        height: 200,
        width: 200,
        showLabel: false
    };
    var BarOptions = {
        height: 200,
        width: 450,
        high: 100
    };
    var BarPercentOptions = $.extend({}, BarOptions, {
        axisY: {
            onlyInteger: true,
            labelInterpolationFnc: function(value) {
              return value + '%';
            }
        }
    });

    // Generate Chartist constructors for each available stat
    {% for stat in site.data.stats %}
        {% capture chartID %}#{{ stat.name }}-chart{% endcapture %}
        {% assign chartPrimaryType = stat.type.primary | capitalize {% endassign %}
        {% assign chartSecondaryType = stat.type.secondary | capitalize {% endassign %}

        new Chartist.{{ chartPrimaryType }}("{{ chartID }}", {{ stat.data | jsonify }}, {{ chartPrimaryType }}{{ chartSecondaryType }}Options);
    {% endfor %}

    // Update Charts on resize (just in case)
    $('#program-stats').bind('slid.bs.carousel', function (e) {
        $(e.relatedTarget).find(".stat-chart")[0].__chartist__.update()
    });
</script>
