.program-statistics {
    .carousel {
        .row {
            padding: {
                left: 15%;
                right: 15%;
            }
        }
    }

    .stat-chart {
        height: 200px;
        text-align: center;
    }
}