.program-awards {
    .trophy-case {
        .award {
            .image {
                display: table;
                height: 100px;
                margin-bottom: $spacing-vertical-small;
                text-align: center;
                width: 100%;

                a {
                    display: table-cell;
                    vertical-align: middle;
                }

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
