@mixin colors($class, $color) {
    &.#{$class} {
        &:before {
            background-color: $color;
        }
    }
}

$controlWidth: 10%;

.program-statistics {
    .carousel {
        .carousel-control {
            display: none;

            @include respond-to(ms) {
                display: block;
                width: $controlWidth;
            }
        }

        .item {
            .row {
                // Hard code this value to prevent the page from shifting on mobile
                height: 550px;

                @include respond-to(ms) {
                    height: auto;
                    padding: {
                        left: $controlWidth;
                        right: $controlWidth;
                    }
                }
            }
        }

        .bottom-carousel-control {
            @include respond-to(ms) {
                display: none;
            }
        }
    }

    .stat-chart {
        height: 200px;
        margin-bottom: 15px;
        text-align: center;
    }

    .ethnicity-legend {
        li {
            @include colors("api", #d70206);
            @include colors("cw", #f05b4f);
            @include colors("hl", #f4c63d);
            @include colors("aab", #d17905);

            list-style: none;
            position: relative;

            &:before {
                content: '';
                display: block;
                height: 10px;
                left: -5px;
                position: absolute;
                top: 5px;
                width: 10px;
            }
        }
    }
}
