$icons: (
    chat: Chat,
    rocket: Rocket,
    gears: Gears,
    chemistry: Chemistry,
    supergirl: Supergirl
);

.program-overview {
    .blackboard {
        margin-bottom: $spacing-vertical;
    }

    .canvas {
        margin-top: -20px;

        .actor {
            text-align: center;

            img {
                border-radius: 50%;
                margin-bottom: 10px;
                width: 100px;
            }

            p {
                font-weight: bold;
            }

            .po-icon {
                $height: 130px;

                background-size: cover;
                content: '';
                height: $height;
                margin: 0 auto;
                width: $height;

                @each $class, $icon in $icons {
                    &.#{$class} {
                        background-image: url('../images/icons/#{$icon}.png');

                        &:hover {
                            background-image: url('../images/icons/#{$icon}-Active.png');
                        }
                    }
                }
            }
        }
    }
}
