.program-overview {
    .canvas {
        .actor {
            text-align: center;

            img {
                border-radius: 50%;
                margin-bottom: 10px;
                width: 100px;
            }


            .po-icon {
                background-size: cover;
                content: '';
                height: 100px;
                margin: 0 auto;
                width: 100px;

                &.collaboration {
                    background-image: url('../images/icons/Chat.png');

                    &:hover {
                        background-image: url('../images/icons/Chat-Active.png');
                    }
                }

                &.leadership {
                    background-image: url('../images/icons/Rocket.png');

                    &:hover {
                        background-image: url('../images/icons/Rocket-Active.png');
                    }
                }

                &.thinking {
                    background-image: url('../images/icons/Gears.png');

                    &:hover {
                        background-image: url('../images/icons/Gears-Active.png');
                    }
                    width: 110px;
                }
            }
        }
    }
}
