.program-overview {
    .canvas {
        .actor {
            text-align: center;

            img {
                border-radius: 50%;
                margin-bottom: 10px;
                width: 100px;
            }

            &.top-1 {

            }

            &.top-2 {
                margin-top: 80px;
            }

            &.top-3 {
                margin-top: 30px;
            }
        }
    }
}
