.quotebook {
    .quote {
        img {
            $height: 125px;

            border-radius: 50%;
            height: $height;
            width: $height;
        }

        @include respond-to(sm) {
            width: 50%;

            &:nth-child(odd) {
                padding-right: $spacing-vertical-small;
            }

            &:nth-child(even) {
                padding-left: $spacing-vertical-small;
            }
        }
    }
}
