.quotebook {
    display: table;
    table-layout: fixed;

    .quote {
        display: inline-table;
        padding-bottom: $spacing-vertical-small;
        vertical-align: top;
        width: 50%;

        img {
            $height: 125px;

            border-radius: 50%;
            height: $height;
            width: $height;
        }

        &:nth-child(odd) {
            padding-right: $spacing-vertical-small;
        }

        &:nth-child(even) {
            padding-left: $spacing-vertical-small;
        }
    }
}
