<div id="{{ include.title }}"
     class="carousel slide {{ include.class }}"
     data-ride="carousel"
     {% if include.interval %}data-interval="{{ include.interval | times: 1000 }}"{% endif %}
    >
    {% if include.indicators %}
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for i in (1..include.size) %}
                <li data-target="#{{ include.title }}" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
        </ol>
    {% endif %}

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% include {{ include.content }} %}
    </div>

    {% if include.bottomcontrols %}
        <div class="bottom-carousel-control row">
            <a class="col-xs-6 left" href="#{{ include.title }}" role="button" data-slide="prev">
                <i class="icon icon-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="col-xs-6 right" href="#{{ include.title }}" role="button" data-slide="next">
                <i class="icon icon-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% endif %}

    {% if include.controls %}
        <!-- Controls -->
        <a class="left carousel-control" href="#{{ include.title }}" role="button" data-slide="prev">
            <i class="icon icon-chevron-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#{{ include.title }}" role="button" data-slide="next">
            <i class="icon icon-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
    {% endif %}
</div>
