<section class="program-staff page-section">
    <div class="container">
        <div class="blackboard">
            <h2 class="section-header">Program Staff</h2>
            <h3>Our alumni have joined the team</h3>
        </div>

        <div class="staff-roster row">
            {% for staff in site.data.staff %}
                <div class="staff col-xs-6 col-sm-4 col-md-3">
                    {% if staff.placeholder %}
                        <img src="http://placehold.it/100x100?text=%20" alt="">
                    {% else %}
                        <img src="{{ site.baseurl }}/assets/images/staff/{{ staff.name | replace: ' ', '' }}.jpg" alt="{{ staff.name }}'s picture" />
                    {% endif %}

                    {% if staff.name %}
                        <p class="name">{{ staff.name }}</p>
                    {% endif %}
                    <p class="position">{{ staff.position }}</p>
                    <p class="year">
                        {% if staff.year %}
                            {{ staff.year }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
