<section class="summer-program page-section">
    <div class="container">
        <div class="section-header">
            <h2>2018 Summer Program</h2>
            <h3>Summer Program 06/18/18 - 07/27/18</h3>
        </div>

        <div class="section-spacer">
            <div class="text-center">
                <div class="photo-album">
                    {% include modules/photo.html photo="photos/summer_program_1.jpg" class="summer-1" %}
                    {% include modules/photo.html photo="photos/summer_program_2.jpg" class="summer-2" %}
                </div>
            </div>
        </div>

        <article>
            <h4>What’s a goal without a deadline?</h4>
            <p>In six weeks, students learn the technology and business skills required to develop a civic-oriented startup. The application and admissions process is competitive, curriculum learned in lightspeed pace, but the achievement is worth the effort!</p>
        </article>
    </div>
</section>
