---
layout: jumbotron-header
permalink: /
jumbotron:
  text: >
    # Youth Tech Program

    #### Summer 2016
  button:
    text: Apply
    url: https://www.surveymonkey.com/r/smytp2016
  items:
      - image: assets/images/banners/home_1.jpg
        position:
          - viewsize: 0
            location: top center
          - viewsize: 992px
            location: center -50px
          - viewsize: 1600px
            location: center -200px
      - image: assets/images/banners/home_2.jpg
        position:
          - viewsize: 0
            location: center
      - image: assets/images/banners/home_3.jpg
        position:
          - viewsize: 0
            location: center
          - viewsize: 992px
            location: center -30px
          - viewsize: 1600px
            location: center -280px
      - image: assets/images/banners/home_4.jpg
        position:
          - viewsize: 0
            location: center
          - viewsize: 1600px
            location: center -200px
      - image: assets/images/banners/home_5.jpg
        position:
          - viewsize: 0
            location: center
          - viewsize: 1600px
            location: center -200px
---

<main>
    {% include_relative _program-overview.html %}
    {% include_relative _upcoming-events.html %}
    {% include_relative _program-statistics.html %}
    {% include_relative _alumni-quotes.html %}
    {% include_relative _past-companies.html %}
    {% include_relative _program-awards.html %}
    {% include_relative _program-staff.html %}
</main>
